{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}">
{% endblock %}
{% block body %}

	<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
		<div class="container clearfix">
			<div id="content" class="grid_12">
				<h1>Art Start + Smart</h1>
				<h2>A One Day Design Workshop Gallery</h2>

				<p><a href="../static/img/013114ArtstartPlusSmartImages.zip">Download all images</a></p>
				<div class="container clearfix">
				<a href="../static/img/ASK/01-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/01-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/02-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/02-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/03-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/03-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/04-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/04-ask.jpg" class="grid_3 omega"></a>
				</div>
				
				<div class="container clearfix">
			<a href="../static/img/ASK/05-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/05-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/06-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/06-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/07-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/07-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/08-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/08-ask.jpg" class="grid_3 omega"></a>
				</div>
				
				<div class="container clearfix">
				<a href="../static/img/ASK/09-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/09-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/10-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/10-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/11-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/11-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/12-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/12-ask.jpg" class="grid_3 omega"></a>
				</div>

				
				<div class="container clearfix">
				<a href="../static/img/ASK/13-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/13-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/14-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/14-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/15-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/15-ask.jpg" class="grid_3"></a>
<a href="../static/img/ASK/16-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/16-ask.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/ASK/17-ask.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/ASK/17-ask.jpg" class="grid_3"></a>
<a href="../static/img/BRAINSTORM/03-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/03-brainstorm.jpg" class="grid_3"></a>
<a href="../static/img/BRAINSTORM/04-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/04-brainstorm.jpg" class="grid_3"></a>
<a href="../static/img/BRAINSTORM/05-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/05-brainstorm.jpg" class="grid_3 omega"></a>
				</div>

				
				<div class="container clearfix">
	<a href="../static/img/BRAINSTORM/06-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/06-brainstorm.jpg" class="grid_3"></a>
<a href="../static/img/BRAINSTORM/07-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/07-brainstorm.jpg" class="grid_3"></a>
<a href="../static/img/BRAINSTORM/08-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/08-brainstorm.jpg" class="grid_3"></a>
<a href="../static/img/BRAINSTORM/09-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/09-brainstorm.jpg" class="grid_3 omega"></a>
				</div>
		
				<div class="container clearfix">
			<a href="../static/img/BRAINSTORM/10-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/10-brainstorm.jpg" class="grid_3"></a>
<a href="../static/img/BRAINSTORM/11-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/11-brainstorm.jpg" class="grid_3"></a>
<a href="../static/img/BRAINSTORM/12-brainstorm.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/BRAINSTORM/12-brainstorm.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/01-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/01-make.jpg" class="grid_3 omega"></a>

				</div>					

				<div class="container clearfix">
<a href="../static/img/MAKE/02-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/02-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/03-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/03-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/04-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/04-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/05-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/05-make.jpg" class="grid_3 omega"></a>

				</div>

				<div class="container clearfix">			
<a href="../static/img/MAKE/06-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/06-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/07-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/07-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/08-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/08-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/09-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/09-make.jpg" class="grid_3 omega"></a>
				</div>
					

				<div class="container clearfix">
				<a href="../static/img/MAKE/10-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/10-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/11-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/11-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/12-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/12-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/13-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/13-make.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/MAKE/14-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/14-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/15-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/15-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/16-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/16-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/17-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/17-make.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/MAKE/19-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/19-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/20-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/20-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/21-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/21-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/22-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/22-make.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/MAKE/23-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/23-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/24-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/24-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/25-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/25-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/26-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/26-make.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/MAKE/27-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/27-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/28-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/28-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/29-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/29-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/30-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/30-make.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
		<a href="../static/img/MAKE/31-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/31-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/32-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/32-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/33-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/33-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/34-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/34-make.jpg" class="grid_3 omega"></a>
				</div>
				
				
				<div class="container clearfix">
<a href="../static/img/MAKE/35-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/35-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/36-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/36-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/37-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/37-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/38-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/38-make.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/MAKE/39-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/39-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/40-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/40-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/41-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/41-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/42-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/42-make.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
			<a href="../static/img/MAKE/43-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/43-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/44-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/44-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/45-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/45-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/46-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/46-make.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<<a href="../static/img/MAKE/47-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/47-make.jpg" class="grid_3"></a>
<a href="../static/img/MAKE/48-make.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/MAKE/48-make.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/01-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/01-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/02-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/02-present.jpg" class="grid_3 omega"></a>
				</div>


				<div class="container clearfix">
				<a href="../static/img/PRESENT/03-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/03-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/04-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/04-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/05-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/05-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/06-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/06-present.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/PRESENT/07-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/07-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/08-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/08-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/09-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/09-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/10-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/10-present.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
			<a href="../static/img/PRESENT/11-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/11-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/12-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/12-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/13-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/13-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/14-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/14-present.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/PRESENT/15-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/15-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/16-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/16-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/17-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/17-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/18-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/18-present.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/PRESENT/19-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/19-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/20-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/20-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/21-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/21-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/22-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/22-present.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
<a href="../static/img/PRESENT/23-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/23-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/24-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/24-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/25-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/25-present.jpg" class="grid_3"></a>
<a href="../static/img/PRESENT/26-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/26-present.jpg" class="grid_3 omega"></a>
				</div>

				<div class="container clearfix">
				<a href="../static/img/PRESENT/27-present.jpg" data-lightbox="artstartplussmart"><img  src="../static/img/PRESENT/27-present.jpg" class="grid_3 omega"></a>
		
				</div>

			
				    				   	 
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/lightbox-2.6.min.js"></script>
{% endblock %}

